.title1{
    font-size: 1.1em;
    font-weight: 900;
    padding: 0px 5px;
    text-align: center;    
}
.title2 {
    font-size: 1.0em;
    padding-left: 0px;
    padding-right: 0px;
}
.item1{
    font-size: 1em;
    padding: 0px 5px;
    text-align: center;
}
.panel-body{
    line-height: 30px;
}



.btnstyle {
    background-color: #a8dadc;
    
}
.btnstyle:hover {
    background-color: #61c5c9;
    
}
.form-control:focus{
    border-color: #a8dadc;
    -webkit-box-shadow: none;
    box-shadow: none;
}
textarea {
    resize : none;
}
.classhead {
    font-size: 1.4em;
    font-weight: bolder;
    color: #0e0e0e;
    text-align: center;
    background-color: #457b9d;
    padding: 10px 0px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border: 1px #ccc solid;

    
}
.classbody {
    font-size: 1em;
    text-align: center;    
    padding: 5px 0px;
    border-bottom: 1px #ccc solid;
    display: flex; /*垂直置中*/
    align-items: center; /*垂直置中*/        
}
.ctitle1 {
    font-weight: bolder;
    font-size: 18px;
    padding-right: 5px;
    padding-left: 5px;
}
.ctitle2 {
    padding-left: 0px;
}

.fa-comment{
    font-size: 18px;
}
  
  @media (max-width: 991px) {
    .classhead {
        font-size: 1.2em;            
    }
    .classbody {
        font-size: 0.9em;
                
    }
    .ctitle1 {        
        font-size: 16px;
        
    }
    .title1{
        font-size: 0.8em;
    }
    .item1{
        font-size: 0.8em;
        
    }
    
  }
  
  @media (max-width: 768px) {
    .classhead {
        font-size: 1.0em;            
    }
    .classbody {
        font-size: 0.6em;
                
    }
    .ctitle1 {        
        font-size: 16px;
        
    }
    .title1{
        font-size: 0.8em;
        padding: 0px;
    }
    .item1{
        font-size: 0.8em;
        padding: 0px;
    }
    
  }
  
  @media (max-width: 420px) {
    .classhead {
        font-size: 0.9em;            
    }
    .classbody {
        font-size: 0.8em;
                
    }
    .ctitle1 {        
        font-size: 12px;
        
    }
    .title1{
        font-size: 0.7em;
        padding: 0px;
    }
    .item1{
        font-size: 0.7em;
        padding: 0px;
    }
    
  }

/*星星*/
.score_star {text-align: center;}
.score_star i {color: #999;font-size: 28px;font-style: normal;cursor: pointer;}
.score_star i.on {color: #f39800;}
  

/*下拉模版*/
.input-group {
    margin-top: 20px;
    margin-bottom: 10px;
  }
  
  .panel {
    margin-top: 10px;
    background-color: rgba(255, 255, 255, .9)!important;
    border:1px #ccc; 
  }
  
  .panel-heading {
    background-color: #fff!important; /*改表格內顏色*/
  }
  
  
  /* .btn-default {
    border: solid 1.5px #ccc;
  } */
  
  
  
  /* .fa-paw {
    font-size: 1.4em;
    color: #6B7F7A;
  } */


/*以下與member.css相同*/


.emp-profile{
    border-radius: 0.5rem;
    background: #fff;
}
.profile-img{
    text-align: center;
}
.profile-img img{
    width: 70%;
    height: 100%;
}
.profile-img .file {
    position: relative;
    overflow: hidden;
    margin-top: -18%;
    width: 70%;
    border: none;
    border-radius: 0;
    font-size: 15px;
    background: #212529b8;
}
.profile-img .file input {
    position: absolute;
    opacity: 0;
    right: 0;
    top: 0;
}
.profile-head h5{
    color: #333;
}
.profile-head h6{
    color: #0062cc;
}
.profile-edit-btn{
    border: none;
    border-radius: 1.5rem;
    width: 70%;
    padding: 2%;
    font-weight: 600;
    color: #6c757d;
    cursor: pointer;
}
.proile-rating{
    font-size: 12px;
    color: #818182;
    margin-top: 5%;
}
.proile-rating span{
    color: #495057;
    font-size: 15px;
    font-weight: 600;
}
.profile-head .nav-tabs{
    margin-bottom:5%;
}
.profile-head .nav-tabs .nav-link{
    font-weight:600;
    border: none;
}
.profile-head .nav-tabs .nav-link.active{
    border: none;
    border-bottom:2px solid #F39800;
}
.profile-work{
    padding: 8%;
    margin-top: -15%;
}
.profile-work2{
    padding: 10%;
    margin-top: -15%;
}
.profile-work p{
    font-size: 1.25rem;
    color: #F39800;
    font-weight: 600;
    margin-top: 10%;
}
.profile-work a{
    text-decoration: none;
    margin: 2px;
    color: #495057;
    font-weight: 600;
    font-size: 20px;
}
.profile-work ul{
    list-style: none;
}
.profile-tab label{
    text-align: right;
    font-weight: 600;
}
.profile-tab p{
    font-weight: 600;
    color: #0062cc;
}
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }